
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Logik input</h4>
      <p class="card-text">Trage hier die logischen Verknüpfungen ein</p>
      <div class="form-group row">
        <label for="logicPhrase" class="col-2 col-form-label">Logik Phrase</label>
        <div class="col-10">
          <textarea class="form-control" [(ngModel)]="logicPhraseString" type="textarea" value="" id="logicPhrase">
          </textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="logicPhrase" class="col-2 col-form-label">Zusätzliche Variablen</label>
        <div class="col-10">
          <textarea class="form-control" [(ngModel)]="logicExtraVars" type="textarea" value="" id="logicExtraVars">
          </textarea>
        </div>

        <div class="col-12">
          Hier kannst du zusätzliche Variablen angeben, falls der Logische Ausdruck nicht in der DNF sondern nur in  der DF ist.
          (Trenne über " ")
        </div>

      </div>
      <div class="row">
        <br>
        <div class="col-4">
          <button type="button" (click)="parseLogicPhrase()"  class="btn btn-primary">Parse</button>
        </div>
      </div>
    </div>
  </div>
