
<app-navbar></app-navbar>
<div class="container">
  <br>
  <h1>
    {{welcomeMessage}}
  </h1>
  <div class="row">
    <div class="col-12 colMargin">
      <app-logic-input
        #logicInput
        [kvDiagramCom]="kvDiagramCom"
        [basicLogicPhraseInfoCom]="basicLogicPhraseInfoCom"
        [qmcVisualizerCom]="qcmvisualizercom">
      </app-logic-input>
    </div>
    <div class="col-12 colMargin"><app-basic-logic-phrase-info #basicLogicPhraseInfoCom></app-basic-logic-phrase-info></div>
  </div>
  <div class="row">
    <div class="col-12 colMargin"><app-kvdiagramm #kvDiagramCom> </app-kvdiagramm></div>
  </div>
  <div class="row">
    <div class="col-12 colMargin"><app-qmcvisualizer #qcmvisualizercom> </app-qmcvisualizer></div>
  </div>
</div>
