
  <div class="card">
    <div class="card-block">
      <h4 class="card-title">Information</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Key</th>
            <th>Data</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Ausdruck</th>
            <td>{{logicPhrase.phrase}}</td>
          </tr>
          <tr>
            <th scope="row">Länge</th>
            <td>{{logicPhrase.lengh}}</td>
          </tr>
          <tr>
            <th scope="row">Variablen Namen</th>
            <td>{{logicPhrase.varNames.toString()}}</td>
          </tr>
          <tr>
            <th scope="row">DF</th>
            <td>{{logicRootExpressionInDF.phraseToStringWithoutBreakets()}}</td>
          </tr>
          <tr>
            <th scope="row">Vereinfachte DF</th>
            <td>{{qmc.getMinmalFormAsString()}}</td>
          </tr>
          <tr>
            <th scope="row">DNF</th>
            <td>{{logicRootExpressionInDNF.phraseToStringWithoutBreakets()}}</td>
          </tr>
          <tr>
            <th scope="row">Parsed tree</th>
            <td>{{logicRootExpression.phraseToString()}}</td>
          </tr>
          <tr>
            <th scope="row">Shunting Yard</th>
            <td>{{logicRootExpression.shuntedPhrase.toString()}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
